.search-bar {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.search-bar input {
  width: 70%;
  border-radius: 5px;
  border: none;
  vertical-align: top;
}

.search-btn {
  width: 20%;
  height: 37px;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 5px;
  background-image: url(./magnifying-glass.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
