.article {
  width: 70%;
  border-bottom: 1px solid gray;
  margin: 30px auto;
  position: relative;
}

.preview h3, .preview h1 {
  cursor: pointer;
}

.article img {
  width: 100%;
  margin-top: 20px;
}

.small-text {
  font-size: 12px;
  margin-top: 0;
}
